/*
	Colours:
		- #112948
		- #F39B31
		- #3797CE
*/

@font-face{
	font-family: FuturaStdLight;
    src: url(Futura\ Std\ Light/Futura\ Std\ Light.otf);
}

/*
	This next rule affects the entire webpage
*/
*{
	font-family: FuturaStdLight;
}

p{
	font-size: 18px;
}

body{
	margin-left: 0;
	margin-right: 0;
}

.logo{
	width: 100%;
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/***************************** Main content style *******************************/
.main_text{
	float: left;
	background-color: rgba(221, 221, 221, 0.603);
	border-radius: 10px;
	width: 70%;
	position: relative;
	left: 20px;
	padding: 5px;
	margin-bottom: 15px;
	/* margin-right: 10px; */
}

.main_text img{
	width: 90%;
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 20px;
}

.main_text #bold{
	font-weight: bold;
}

.main_text h1 a{
	text-decoration: none;
	color: black;
}

.main_text ul{
	font-size: 18px;
}

/***************************** Main content style *******************************/
/***************************** Sidebar style *******************************/

.sidebar{
	float: right;
	background-color: rgba(221, 221, 221, 0.603);
	border-radius: 10px;
	width: 23%;
	position: relative;
	right: 20px;
	padding: 10px;
	margin-bottom: 15px;
	/* margin-left: 10px; */
}

.sidebar img{
	width: 90%;
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.sidebar .press h2 a{
	text-decoration: none;
	color: black;
}

.sidebar .press h2:hover a{
	text-decoration: underline;
}

.sidebar .press img{
	width: 100%;
	margin: 0;
	padding: 0;
}

/***************************** Sidebar style *******************************/
/***************************** Navigation bar style *******************************/

.nav_header{
	border: 0;
	border-collapse: collapse;
	background-color: #112948;
	height: 70px;
	margin-bottom: 0;
}

.nav_header .nav_list{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	height: 100%;
}

.nav_header .nav_list .nav_container{
	height: 100%;
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav_header .nav_list .nav_container .nav_page{
	padding: 10px;
	float: left;
	text-align: center;
	height: 71%;
	width: 18%;
	margin: auto;
}

.nav_header .nav_list .nav_container .nav_current{
	padding: 10px;
	float: left;
	text-align: center;
	height: 71%;
	width: 18%;
	margin: auto;
	background-color: #3797CE;
}

.nav_header .nav_list .nav_container .nav_page .nav_text{
	color: #F39B31;
	font-size: 23px;
	text-decoration: none;
	position: relative;
	top: 10px;
}

.nav_header .nav_list .nav_container .nav_current .nav_text{
	color: #F39B31;
	font-size: 23px;
	text-decoration: none;
	position: relative;
	top: 10px;
}

.nav_header .nav_list .nav_container .nav_page:hover{
	background-color: #3797CE;
}

/***************************** Navigation bar style *******************************/
/***************************** Contact style *******************************/

.contacto{
	text-align: center;
}

.contacto a{
	color: black;
	text-decoration: none;
}

.contacto a:hover{
	text-decoration: underline;
}

/***************************** Contact style *******************************/
/***************************** Contact style *******************************/

.banner{
	position: relative;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 20px;
	width: 100%;
}

.banner .banner_text{
	z-index: 9;
	position: absolute;
	top: 50%;
	left: 10%;
	color: #ffffff;
	font-size: 64px;
}

.banner .banner_image{
	z-index: -1;
}

.banner .banner_image img{
	height: auto;
	width: 100%;
}

/***************************** Contact style *******************************/
